In [1]:
import pandas as pd

In [12]:
file = "D:/SAMLFRFM/notebooks/model_metrics.csv"
metrics = pd.read_csv(file)

In [13]:
metrics.to_csv(file, index=False)

In [14]:
metrics

           Model       MAE      MAPE       MSE      RMSE        R2
0  Random Forest  99999999  99999999  99999999  99999999  99999999