In [1]:
import pandas as pd
import yfinance as yf

In [2]:
def fetch_stock_data(ticker, start_date, end_date):
    stock_data = yf.download(ticker, start=start_date, end=end_date)
    return stock_data

In [4]:
start_date = '2020-01-01'
end_date = '2024-11-25'
ticker = "AAPL"
    
stock_data = fetch_stock_data(ticker, start_date, end_date)

[*********************100%%**********************]  1 of 1 completed

In [5]:
stock_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,74.059998,75.150002,73.797501,75.087502,72.796036,135480400
2020-01-03,74.287498,75.144997,74.125000,74.357498,72.088303,146322800
2020-01-06,73.447502,74.989998,73.187500,74.949997,72.662712,118387200
2020-01-07,74.959999,75.224998,74.370003,74.597504,72.320953,108872000
2020-01-08,74.290001,76.110001,74.290001,75.797501,73.484375,132079200
...,...,...,...,...,...,...
2024-11-18,225.250000,229.740005,225.169998,228.020004,228.020004,44686000
2024-11-19,226.979996,230.160004,226.660004,228.279999,228.279999,36211800
2024-11-20,228.059998,229.929993,225.889999,229.000000,229.000000,35169600
2024-11-21,228.880005,230.160004,225.710007,228.520004,228.520004,42108300
2024-11-22,228.059998,230.720001,228.059998,229.869995,229.869995,38168300

In [6]:
ticker

'AAPL'

In [14]:
metrics

           Model       MAE      MAPE       MSE      RMSE        R2
0  Random Forest  99999999  99999999  99999999  99999999  99999999